In [1]:
import pandas as pd

In [2]:
student_data = pd.read_csv('data/students_performance.csv', sep=',')

In [5]:
student_data.tail(11)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
989,female,group D,some college,free/reduced,completed,67,86,83
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
994,male,group A,high school,standard,none,63,63,62
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [9]:
student_data.loc[[155], ['writing score']]

     writing score
155             88

In [10]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [11]:
student_data.describe().loc[:, ['math score']]

       math score
count  1000.00000
mean     66.08900
std      15.16308
min       0.00000
25%      57.00000
50%      66.00000
75%      77.00000
max     100.00000

In [12]:
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [15]:

student_data[student_data['math score'] == 0].shape[0]

1

In [19]:

student_data[student_data["lunch"]=="free/reduced"]["math score"].mean()

58.92112676056338

In [20]:
student_data['parental level of education'].value_counts(normalize=True)

some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: parental level of education, dtype: float64

In [27]:
a=student_data[student_data['race/ethnicity'] == "group A"]["writing score"].median()
b=student_data[student_data["race/ethnicity"]=="group C"]["writing score"].mean()
a-b

-5.827586206896555